@model string?
@{
    Layout = null;
}

<div style="direction: rtl">
    <p style="color: red">ممنون از ثبت نام شما لطفا حساب خود را با کلیک بر روی لینک زیر تایید کنید</p><br/>
    <p style="color: green">@Model</p><br/>
</div>