@model Ui.Client.Models.ConfirmEmailCodeVm
@{
    ViewData["Title"] = "Confirm Email Code";
}

<div id="login">
    @if (ViewBag.IsSent)
        {
            <div class="alert alert-success">
                Email confirmation Sent!
            </div>
        }

  <h1><strong>Welcome.</strong> Please login.</h1>

  <form asp-action="ConfirmEmailCode" method="post">
      <input type="hidden" asp-for="Email" />
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset>

      <p><input asp-for="Code" placeholder="Email" class="text-box"></p>
      <span asp-validation-for="Code" class="text-danger"></span>

      <p><input type="submit" value="Confirm"></p>

    </fieldset>

  </form>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

