@model Ui.Client.Models.ExternalLoginConfirmationVm
@{
    ViewBag.Title = "Register";
}


<div id="login">

  <h1><strong>Welcome.</strong> Please login.</h1>

  <form method="post" asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnUrl="/">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset>


      <p><input asp-for="Phone" type="tel" placeholder="Password"></p>
      <span asp-validation-for="Phone" class="text-danger"></span>


      <p><input type="submit" value="Register"></p>

    </fieldset>

  </form>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

