@model Ui.Client.Models.ForgotPasswordVm
@{
    ViewData["Title"] = "Forgot Password";
}

<div id="login">

  <h1><strong>Forgot Password</strong></h1>

  <form asp-action="ForgotPassword" method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      @if (ViewBag.IsSent)
            {
                <div class="alert alert-success">
                    Reset Password Email Sent !
                </div>
            }
    <fieldset>

      <p><input asp-for="Email" placeholder="Email" class="text-box"></p>
      <span asp-validation-for="Email" class="text-danger"></span>

      <p><input type="submit" value="Send Confirmation"></p>

    </fieldset>

  </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

