@model Ui.Client.Models.LoginVm

<div id="login">

  <h1><strong>Welcome.</strong> Please login.</h1>

  <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="/">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset>

      <p><input asp-for="Email" placeholder="Email" class="text-box"></p>
      <span asp-validation-for="Email" class="text-danger"></span>

      <p><input asp-for="Password" placeholder="Password"></p>
      <span asp-validation-for="Password" class="text-danger"></span>

      <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>

      <p><a asp-controller="Account" asp-action="ForgotPassword">Forgot Your Password ?</a></p>

      <p><input type="submit" value="Login"></p>

    </fieldset>

  </form>
  <partial name="Account/_ExternalLoginsListPartial" />
</div>

