@model Ui.Client.Models.ResetPasswordVm

<div id="login">

  <h1><strong>Reset Password</strong></h1>

  <form asp-action="ResetPassword" method="post">
      <input type="hidden" asp-for="Email"/>
            <input type="hidden" asp-for="Token"/>
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset>

      <p><input asp-for="NewPassword" placeholder="Email" class="text-box"></p>
      <span asp-validation-for="NewPassword" class="text-danger"></span>

      <p><input asp-for="ConfirmNewPassword" placeholder="Password"></p>
      <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>

      <p><input type="submit" value="Reset Password"></p>

    </fieldset>

  </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

